<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md2 col-lg5 col md-7 offset-lg4 offset-md3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <img
              src="../assets/img/Logo_nws4You2.png"
              id="logonws"
              alt="logonws_logo"
            />
          </div>

          <!-- Testing environment -->
          <div class="row m-5">
            <div class="col-6" *ngFor="let topic of topics">
              <input
                type="checkbox"
                [value]="topic.id"
                (change)="getTopicId($event)"
              />
              {{ topic.name }}
            </div>
            <a class="btn btn-primary" (click)="onSubmit()" routerLink="/login">submit</a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
