<div class="container">
  <div class="row">
    <div class="col"></div>
    <h1>Select your favorite topics</h1>
    <p>
      Select some of your favorite topics to let us suggest better news for you.
    </p>
  </div>
  <!-- Topics -->
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">Featured</div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
    </div>
  </div>
</div>
