.outer {
  height: 100vh;
  background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}

#logonws {
  width: 5rem;
  margin: 2em;
}

.container{
  width: 400px;
  height: 38px;
  margin: 10px auto;
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}

#forget {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.panel {
  min-height: 38px;
  box-shadow: 20px 20px 80px rgb(218, 218, 218);
  border-radius: 12px;
  margin-top: 100px;
}

.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.bordert {
  border-top: 1px solid #aaa;
  position: relative;
}

form{
  margin: 2rem;
}

.boxes{
  margin: 10px;
}

.subbutton{
  margin-top: 10px;
}

body {
  font-family: sans-serif;
  margin: 0 auto; text-align: center;
  background-color: #104068;
}

div label input {
  margin-right: 100px;
}

.cat{
  margin: 4px;
  background-color: #104068;
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

.cat label {
  float: left; line-height: 3.0em;
  width: 8.0em; height: 3.0em;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

.cat label input + span{
  color: #fff;
}

.cat input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}

.sports input:checked + span{background-color: #F75A1B;}
.politics input:checked + span{background-color: #1BB8F7;}
.war input:checked + span{background-color:#8C1B1B;}
.financial input:checked + span{background-color: #82D44E;}
.crypto input:checked + span{background-color: #F3A4CF;}
.tech input:checked + span{background-color:  #D9D65D;}
.science input:checked + span{background-color: #AC9BD1;}
.health input:checked + span{background-color: #214A09;}

label:hover {
  cursor: pointer;
}
