<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md2 col-lg5 col md-7 offset-lg4 offset-md3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <img
              src="../assets/img/Logo_nws4You2.png"
              id="logonws"
              alt="logonws_logo"
            />
          </div>
          <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
            <div *ngFor="let data of Data; let i=index">
              <label>
                <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
                {{data.name}}
              </label>
            </div>
            <!-- <p class="error" *ngIf="this.form.controls['checkArray'].errors?.['required']">
            U can add multiple checkboxes
            </p> -->
            <input type="submit" value="Submit">
          </form>

          </div>
      </div>
    </div>
  </div>
</div>
