#logonws {
  width: 4rem;
}

#profilenavbar {
  background: black;
  border-radius: 50%;
  width: 2.7rem;
  height: 2.7rem;
}

#darkSwitch {
  margin-left: 1rem;
}

.nav-item {
  padding-right: 1rem;
  display: inline-block;
}

.navbar-nav {
  display: inline-block;
  margin: auto;
}
