#logonws {
  width: 4rem;
}

#profilenavbar {
  background: lightblue;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

#darkSwitch {
  margin-left: 1rem;
}

#logonavbar {
  margin: auto;
}

.nav-item {
  padding-right: 1rem;
  display: inline-block;
}

.navbar-nav {
  display: inline-block;
  margin: auto;
}
