<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <div id="logonavbar">
      <a class="navbar-brand" routerLink="newsFeed">
        <img
          src="../assets/img/Logo_nws4You2.png"
          alt="logoNews4You"
          id="logonws"
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            MyFeed
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="signup">Home</a></li>
            <a class="dropdown-item" routerLink="profile">bookmarks</a>
            <li>
              <a class="dropdown-item" routerLink="login">personalised</a>
            </li>
          </ul>
        </li>

        <!-- Account list items -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" routerLink="profile">Profile</a>
            <li><a class="dropdown-item" routerLink="login">Log in</a></li>
            <li><a class="dropdown-item" routerLink="signup">Sign up!</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#" (click)="logout()">Log out</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <div id="darkSwitch" class="form-check form-switch">
            <input
              (click)="toggleDarkMode()"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Dark mode</label
            >
          </div>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <input
          [(ngModel)]="searchTerm"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="btn btn-primary" (click)="search()">Search</div>
        <!-- <button
          (click)="search()"
          class="btn btn-outline-success"
          type="submit"
        >
          Search
        </button> -->
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row p-3 gx-5">
    <div class="col-lg-6 col-xl-4" *ngFor="let searchData of searchData">
      <div id="categories">#{{ searchData.source.name }}</div>
      <h2>{{ searchData.title }}</h2>
      <div class="description">{{ searchData.description }}</div>
      <img src="{{ searchData.urlToImage }}" alt="" />
      <!-- link read more -->
      <div class="d-flex justify-content-between">
        <div id="read-more">
          <a href="{{ searchData.url }}" target="_blank"
            >Read more <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
        <div
          id="bookmark"
          (click)="bookmarkMe(searchData.title, searchData.url)"
        >
          <i class="fa-regular fa-bookmark"></i>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>

<!-- Sticky footer -->
<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid px-3">
    <!-- <a class="navbar-brand" href="#">Fixed bottom</a> -->
    <a class="nav-item nav-link" routerLink="newsFeed"
      ><i class="fa-solid fa-earth-americas"></i
    ></a>
    <a class="nav-item nav-link" routerLink="personal"
      ><i class="fa-regular fa-user"></i
    ></a>
    <a class="nav-item nav-link" routerLink="topic"
      ><i class="fa-solid fa-magnifying-glass"></i
    ></a>
    <a class="nav-item nav-link" routerLink="bookmarks"
      ><i class="fa-regular fa-bookmark"></i
    ></a>
  </div>
</nav>
