<div class="container">
  <!-- logo Row -->
  <div class="row logo-row">
    <div class="col d-flex align-items-end justify-content-center">
      <img
        class="img"
        src="../assets/img/Logo_nws4You2.png"
        alt="logoNews4You"
        id="logonws"
      />
    </div>
  </div>
  <!-- Click to continue row  -->
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center pt-3">
      <a routerLink="login"> <p>Click to continue</p></a>
    </div>
  </div>
  <!-- welcome text row -->
  <div class="row welcome-row">
    <div class="col d-flex align-items-center justify-content-center">
      <p id="welcome-text" class="text-center">
        All news in one place, be the first to know the last news
      </p>
    </div>
  </div>
</div>
