<div class="container pt-5">
  <div class="row gx-5">
    <div class="col-lg-6 col-xl-4" *ngFor="let mergedApi of mergedApi">
      <div class="box">
        <h2>{{ mergedApi.title }}</h2>
        <div class="description truncate">
          {{ mergedApi.description }} {{ mergedApi.content }}
        </div>
        <img src="{{ mergedApi.urlToImage }}" alt="" />
        <img src="{{ mergedApi.image_url }}" alt="" />
        <div class="d-flex justify-content-between">
          <div id="read-more">
            <a class="readMore" href="{{ mergedApi.url }}" target="_blank"
              >Read more <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
          <div
            id="bookmark"
            (click)="bookmarkMe(mergedApi.title, mergedApi.url)"
          >
            <i class="fa-regular fa-bookmark"></i>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
