<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md2 col-lg5 col md-7 offset-lg4 offset-md3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <img
              src="../assets/img/Logo_nws4You2.png"
              id="logonws"
              alt="logonws_logo"
            />
            <h1>Profile Page</h1>
          </div>
          <div class="panel-body p-2">
            <div class="form-group pt2">
              <div class="input-field">
                <div class="userinput">
                  <h3>User info</h3>
                  <p>Username: {{ user.userName }}</p>
                  <p>Email: {{ user.email }}</p>
                  <p>Birth Date: {{ user.birthDate }}</p>
                  <p>Created At: {{ user.createdAt }}</p>
                  <p>Selected topics: {{selectedValues}}</p>
                  <p>
                    <input
                      class="btn btn-primary"
                      type="button"
                      value="logout"
                      (click)="logout()"
                      routerLink="login"
                    />
                  </p>
                </div>

                <div class="topics">
                  <h3>Topics:</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                      <input
                        class="checkbox"
                        type="checkbox"
                        name="Sports"
                        id="sports"
                      />Sports
                    </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                      <input
                        class="checkbox"
                        type="checkbox"
                        name="Politics"
                        id="politics"
                      />Politics
                    </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                      <input
                        class="checkbox"
                        type="checkbox"
                        name="War"
                        id="war"
                      />War
                    </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                      <input
                        class="checkbox"
                        type="checkbox"
                        name="Financial"
                        id="financial"
                      />Financial
                    </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                      <input
                        class="checkbox"
                        type="checkbox"
                        name="Crypto"
                        id="crypto"
                      />Crypto
                    </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                      <input
                        class="checkbox"
                        type="checkbox"
                        name="Tech"
                        id="tech"
                      />Tech
                    </p>
                    </div>
                  </div>
                  <div class="row topic">
                    <div class="col-md-6">
                      <p>
                      <input
                        class="checkbox"
                        type="checkbox"
                        name="Science"
                        id="science"
                      />Science
                    </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                      <input
                        class="checkbox"
                        type="checkbox"
                        name="Health"
                        id="health"
                      />Health
                    </p>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="saveChecked">Save</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


