<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md2 col-lg5 col md-7 offset-lg4 offset-md3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <img
              src="../assets/img/Logo_nws4You2.png"
              id="logonws"
              alt="logonws_logo"
            />
          </div>
          <div class="panel-body p-2">
            <div class="form-group pt2">
              <div class="input-field">
                <div class="userinput">
                  <p>Username: {{ user.userName }}</p>
                  <p>Email: {{ user.email }}</p>
                  <p>Birth Date: {{ user.birthDate }}</p>
                  <p>Created At: {{ user.createdAt }}</p>
                  <p>
                    <input
                      class="btn btn-primary"
                      type="button"
                      value="logout"
                      (click)="logout()"
                      routerLink="login"
                    />
                  </p>
                </div>

                <div class="topics">
                  Topics:
                  <div class="col-md-12">
                    <input
                      class="checkbox"
                      type="checkbox"
                      name="Sports"
                      id="sports"
                    />
                    Sports
                    <input
                      class="checkbox"
                      type="checkbox"
                      name="Politics"
                      id="politics"
                    />
                    Politics
                    <input
                      class="checkbox"
                      type="checkbox"
                      name="War"
                      id="war"
                    />
                    War
                    <input
                      class="checkbox"
                      type="checkbox"
                      name="Financial"
                      id="financial"
                    />
                    Financial
                    <input
                      class="checkbox"
                      type="checkbox"
                      name="Crypto"
                      id="crypto"
                    />
                    Crypto
                    <input
                      class="checkbox"
                      type="checkbox"
                      name="Tech"
                      id="tech"
                    />
                    Tech
                    <input
                      class="checkbox"
                      type="checkbox"
                      name="Science"
                      id="science"
                    />
                    Science
                    <input
                      class="checkbox"
                      type="checkbox"
                      name="Health"
                      id="health"
                    />
                    Health
                  </div>

                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
