div{
  max-height: fit-content;
  margin: 20px;
  border: 2px;
  padding: 5px;

}

img{
  max-height: 200px;
}

.title{
  font-weight: bold;
  font-size: large;
}

input{
  margin: 20px;

  padding: 5px;

}
